h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  font-size: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #212121;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .flex-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    gap: 70px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.object--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 36px;
    line-height: 1.18;
  }
}
.main-title--top {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .main-title--top {
    margin-bottom: 50px;
  }
}

.networks-list {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 1200px) {
  .networks-list {
    justify-content: center;
  }
}

.logo--start {
  position: absolute;
  top: 16px;
  left: 15px;
  width: 134px;
}
@media screen and (min-width: 768px) {
  .logo--start {
    position: static;
    margin-right: 88px;
    position: static;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo--start {
    margin-right: 93px;
  }
}

.logo--down-block {
  width: 154px;
  display: inline-block;
  margin-bottom: 20px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.67;
  text-decoration: none;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    height: 31px;
    width: 145px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__main-color {
  color: #000;
}

.logo__main-color--reverse {
  color: #fff;
}

.page-header {
  border-bottom: 1px solid #ececec;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}

.page-header__item.is-open {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  padding: 48px 40px;
}
.page-header__item.is-open .logo--start {
  display: none;
}
.page-header__item:not(.is-open) .navigation, .page-header__item:not(.is-open) .contacts, .page-header__item:not(.is-open) .networks-list__header {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header__item {
    align-items: center;
    position: static;
  }
  .page-header__item:not(.is-open) .navigation, .page-header__item:not(.is-open) .contacts {
    display: flex;
  }
}

.menu-btn {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 15px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  border: 0;
  background-color: transparent;
}
.menu-btn .menu-btn__cross {
  display: none;
}
.menu-btn.is-open .menu-btn__cross {
  display: inline;
}
.menu-btn.is-open .menu-btn__burg {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__cross {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn__cross:hover, .menu-btn__cross:focus {
  fill: #2196f3;
}

.navigation,
.contacts {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .navigation,
.contacts {
    flex-direction: row;
    gap: 50px;
  }
}

.navigation__item {
  position: relative;
}

.navigation__link {
  display: block;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-page {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .current-page::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    bottom: -1px;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts--right {
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:last-child {
    order: -1;
  }
  .contacts__item:last-child .contacts__link {
    color: #2196f3;
    font-size: 34px;
    line-height: 1.1764705882;
  }
}

.navigation__link,
.contacts__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .navigation__link,
.contacts__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.navigation__link:hover, .navigation__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: #2196f3;
}

.contacts__link {
  font-size: 24px;
  line-height: 1.1666666667;
  color: #757575;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    padding: 0;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.contacts__svg {
  fill: #757575;
  display: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contacts__svg {
    display: block;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__svg {
    margin-right: 10px;
  }
}
.contacts__link:hover .contacts__svg, .contacts__link:focus .contacts__svg {
  fill: #2196f3;
}

.contacts__letter-img {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__letter-img {
    width: 16px;
    height: 12px;
  }
}

.contacts__phone-img {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contacts__phone-img {
    height: 16px;
  }
}

.networks-list__header {
  list-style: none;
  font-size: 18px;
  flex-wrap: wrap;
  margin-top: 64px;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .networks-list__header {
    display: none;
  }
}

.networks-list__header-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.networks-list__header-link {
  color: #2196f3;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/project-building.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1600px;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero,
.hero__btn {
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #c4c4c4;
}

.hero__text {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    min-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 32px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 24px;
  }
}
.hero__btn:hover, .hero__btn:focus {
  color: #2196f3;
  background-color: #fff;
}

.advantage__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .advantage__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__list {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .advantage__item:not(:last-child) .advantage__text {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantage__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .advantage__item .advantage__text {
    margin-bottom: 0;
  }
}

.picture {
  max-width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .picture {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .picture {
    width: 270px;
  }
}

.advantage__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .advantage__title {
    text-align: start;
  }
}

.advantage__text {
  max-width: 450px;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .advantage__text {
    width: 270px;
  }
}

.activity {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .activity {
    display: block;
  }
}

.activity__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.activity__item {
  position: relative;
}

.activity__title {
  position: absolute;
  width: 100%;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
}

.employe {
  font-size: 16px;
  line-height: 1.19;
  background-color: #f5f4fa;
}

.employe-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .employe-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.employe-list__item {
  max-width: 450px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .employe-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .employe-list__item {
    width: 270px;
  }
}

.employe-description {
  padding: 30px 10px 24px;
}
@media screen and (min-width: 1200px) {
  .employe-description {
    padding: 30px 10px;
  }
}

.employe-description__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.employe-description__position {
  text-align: center;
  font-size: 16px;
  color: #757575;
  margin-top: 10px;
}

.networks-list--bottom {
  margin: 16px 112px 0;
}
@media screen and (min-width: 768px) {
  .networks-list--bottom {
    margin-right: 64px;
    margin-left: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .networks-list--bottom {
    margin-right: 22px;
    margin-left: 22px;
  }
}

.networks-list__link {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-list__link:hover, .networks-list__link:focus {
  background-color: #2196f3;
}

.networks-list__svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-list__link:hover .networks-list__svg, .networks-list__link:focus .networks-list__svg {
  background-color: #2196f3;
  fill: #fff;
}

.customers__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 480px) {
  .customers__list {
    justify-content: center;
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}
.customers__link:hover, .customers__link:focus {
  border-color: #2196f3;
}

.customers__svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover .customers__svg, .customers__link:focus .customers__svg {
  border-color: #2196f3;
  fill: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-height: 609px) {
  .modal {
    top: 0;
    transform: translate(-50%, 0) scale(1);
  }
}
@media screen and (max-width: 450px) {
  .modal {
    left: 0;
    transform: translate(0, -50%) scale(1);
  }
}
@media screen and (max-width: 450px) and (max-height: 609px) {
  .modal {
    left: 0;
    top: 0;
    transform: translate(0) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__btn {
  position: absolute;
  display: flex;
  height: 30px;
  width: 30px;
  background-color: #fff;
  top: 8px;
  right: 8px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal__svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover .modal__svg, .modal__btn:focus .modal__svg {
  fill: #2196f3;
}

.modal-form {
  font-size: 0;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  max-width: 370px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: 1.15;
    max-width: none;
    width: 448px;
  }
}

.modal-form__text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 10px;
}

.modal-form__text--top {
  margin-top: 0;
}

.modal-form__thumb {
  position: relative;
  margin-top: 4px;
}

.modal-form__input {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding-left: 42px;
}

.modal-form__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__svg {
  fill: #2196f3;
}

.modal-form__input,
.modal-form__area {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal-form__input,
.modal-form__area {
    max-width: none;
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form__input,
.modal-form__area {
    width: 448px;
  }
}
.modal-form__input:focus,
.modal-form__area:focus {
  outline: 1px solid #2196f3;
}

.modal-form__area {
  height: 120px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .modal-form__area {
    font-size: 12px;
    line-height: 1.67;
  }
}
.modal-form__area::-moz-placeholder {
  opacity: 0.5;
}
.modal-form__area:-ms-input-placeholder {
  opacity: 0.5;
}
.modal-form__area::placeholder {
  opacity: 0.5;
}

.agreement {
  display: flex;
  font-size: 12px;
  line-height: 1.67;
  color: #757575;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .agreement {
    font-size: 14px;
    line-height: 1.7;
  }
}

.agreement__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.agreement__custom-svg {
  margin-left: 12px;
  margin-right: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.agreement__checkbox:focus + .agreement__custom-svg {
  outline: 2px solid #2196f3;
}

.agreement__custom-check {
  display: none;
}
.agreement__checkbox:checked + .agreement__custom-svg .agreement__custom-check {
  display: block;
}

.agreement__checkbox:checked + .agreement__custom-svg .agreement__custom-checkbox {
  display: none;
}

.agreement__conditions {
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-left: 3px;
}

.modal-form__btn {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  height: 50px;
  width: 100%;
  max-width: 200px;
  color: #fff;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  margin: 30px auto 0;
}
.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: #188ce8;
}

.radio-list,
.portfolio-list {
  display: flex;
  list-style: none;
}

.radio-list {
  justify-content: flex-start;
  gap: 15px 8px;
}
@media screen and (max-width: 768px) {
  .radio-list {
    flex-wrap: wrap;
  }
}
.radio-list--top {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .radio-list--top {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .radio-list--top {
    margin-bottom: 50px;
    justify-content: center;
  }
}

@media screen and (min-width: 465px) and (max-width: 480px) {
  .radio-list__item:nth-child(3) {
    margin-right: 20px;
  }
}
.radio-list__btn {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.radio-list__btn:hover, .radio-list__input:checked + .radio-list__btn {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.radio-list__btn--first-btn {
  padding-left: 25px;
  padding-right: 25px;
}

.portfolio-list {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.portfolio-list__item {
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio-list__link {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.image-overlay {
  position: relative;
  overflow: hidden;
}

.image-overlay__thumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 294px;
  width: 370px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(120%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover .image-overlay__thumb, .portfolio-list__link:focus .image-overlay__thumb {
  transform: translateY(0);
}

.image-overlay__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  position: absolute;
  top: 63px;
  left: 24px;
  width: 322px;
  height: 168px;
}

.portfolio-list__thumb {
  padding: 20px 24px;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.portfolio-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list__text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.footer {
  background-color: #2f303a;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 483px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    height: auto;
  }
}

.footer__thumb {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__thumb {
    width: 231px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__thumb {
    text-align: start;
  }
}

.address-list {
  list-style: none;
}

.address-list__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address-list__map,
.address-list__contacts {
  font-style: normal;
  text-decoration: none;
  line-height: 1.71;
}
.address-list__map:hover, .address-list__map:focus,
.address-list__contacts:hover,
.address-list__contacts:focus {
  color: #2196f3;
}

.address-list__map {
  font-size: 14px;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__contacts {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__networks {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__networks {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__networks {
    text-align: start;
  }
}

.footer-text {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-text--top {
  margin-bottom: 20px;
}

.networks-list__link--grey {
  background-color: rgba(255, 255, 255, 0.1019607843);
}

.networks-list__svg--white {
  fill: #fff;
}

.subscribe {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .subscribe {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    transform: translateX(0);
    position: static;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe--right {
    margin-left: auto;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
}

.subscribe__input {
  height: 50px;
  width: 100%;
  max-width: 450px;
  background-color: transparent;
  padding-left: 16px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}
.subscribe__input::-moz-placeholder {
  opacity: 0.6;
}
.subscribe__input:-ms-input-placeholder {
  opacity: 0.6;
}
.subscribe__input::placeholder {
  opacity: 0.6;
}

.subscribe__btn {
  align-self: center;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: #2196f3;
  height: 50px;
  width: 200px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    align-self: start;
  }
}
.subscribe__btn:hover, .subscribe__btn:focus {
  color: #2196f3;
  background-color: #fff;
  border-color: #fff;
}

.subscribe__send-svg {
  fill: #fff;
  background-color: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__btn:hover .subscribe__send-svg, .subscribe__btn:focus .subscribe__send-svg {
  background-color: #fff;
  fill: #2196f3;
}/*# sourceMappingURL=main.css.map */