:root {
  --main-blue: #2196f3;
  --main-black: #212121;
  --main-gray: #afb1b8;
  --contacts-color: #757575;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;

  letter-spacing: 0.03em;

  background-color: #fff;
  color: var(--main-black);
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  font-size: 0;
}

/* Контейнери */

.container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container.panel {
  align-items: center;
}

.blk {
  display: inline-block;
}

.container-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  gap: 70px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.advantage-section {
  padding-bottom: 0;
}

/* Логотип */

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--main-blue);
}

.logo.panel-logo {
  margin-right: 93px;
}

.logo-topcolor {
  color: #000;
}

.logo-downcolor {
  color: #fff;
}

/* Верхня панель */

.navigation,
.contacts {
  display: flex;
  list-style: none;
}

.contacts {
  margin-left: auto;
}

.navigation .link,
.contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;

  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts .contacts-link {
  fill: var(--contacts-color);

  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation > *:not(:last-child),
.contacts > *:not(:last-child) {
  margin-right: 50px;
}

.navigation .link {
  display: block;

  color: var(--main-black);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link {
  color: var(--contacts-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.panel-header .navigation > * {
  position: relative;
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--main-blue);
  bottom: -1px;
  left: 0;
}

.navigation .link:hover,
.contacts .link:hover,
.navigation .link:focus,
.contacts .link:focus,
.contacts .link:hover .contacts-link,
.contacts .link:focus .contacts-link,
.navigation .link.current {
  color: var(--main-blue);

  fill: var(--main-blue);
}

.panel-header {
  border-bottom: 1px solid #ececec;
}

/* Герой */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/project-building.jpg');
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1600px;
}

.hero,
.hero .hero-btn {
  text-align: center;
  letter-spacing: 0.06em;

  color: #fff;
  background-color: #c4c4c4;
}

.hero .text {
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero .hero-btn {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  background-color: var(--main-blue);

  cursor: pointer;

  padding: 10px 32px;
  border: none;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .hero-btn:hover,
.hero .hero-btn:focus {
  color: var(--main-blue);
  background-color: #fff;
}

/* Переваги */
.header-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.advantage-list .advantage-block {
  flex-basis: calc((100% - 90px) / 4);
}

.advantage-list .advantage-bg {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantage-list .advantage-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  margin-bottom: 10px;
}

.advantage-list .text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--contacts-color);
}

/* Чим займаємось */

.work .work-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;

  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.work-list > * {
  position: relative;
  height: 294px;
}

.work-list > *::after {
  content: '';
  display: block;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  transform: translateY(-100%);
}

.work-label {
  position: absolute;

  color: #fff;
  font-size: 14px;
  text-transform: uppercase;

  z-index: 1;
  bottom: 27px;
  left: 50%;
  transform: translateX(-50%);
}

/* Команда */

.team {
  font-size: 16px;
  line-height: 1.19;

  background-color: #f5f4fa;

  padding-bottom: 94px;
}

.team .main-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.team-list > * {
  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .team-header {
  text-align: center;

  font-weight: 500;
  font-size: 16px;
}

.team-list .position {
  text-align: center;

  font-size: 16px;

  color: var(--contacts-color);

  margin-top: 10px;
}

.team-list .team-card {
  padding: 30px 10px;
}

.team-networks-list {
  display: flex;
  gap: 10px;
  margin: 16px 22px 0;
}

.team-networks-list a {
  width: 44px;
  height: 44px;

  display: flex;
  border-radius: 50%;

  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-networks-list .team-networks {
  fill: var(--main-gray);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-networks-list a:hover,
.team-networks-list a:focus,
.team-networks-list a:hover .team-networks,
.team-networks-list a:focus .team-networks {
  background-color: var(--main-blue);
  fill: #fff;
}

/* Клієти */

.customers .customers-header {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.customers .customers-logo {
  display: flex;
  justify-content: space-between;
}

.customers .customers-logo a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  border: 1px solid var(--main-gray);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo .customers-image {
  fill: var(--main-gray);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers .customers-logo a:hover,
.customers .customers-logo a:focus,
.customers-logo .custumers-link:hover .customers-image,
.customers-logo .custumers-link:focus .customers-image {
  border-color: var(--main-blue);
  fill: var(--main-blue);
}

/* Футер */

.footer-properties {
  background-color: #2f303a;
}

.address-list {
  list-style: none;
}

.address-list .mr-footer {
  margin-bottom: 9px;
}

.footer-properties .map,
.footer-properties .contacts-footer {
  font-style: normal;
  text-decoration: none;

  line-height: 1.71;
}

.footer-properties .logo {
  margin-bottom: 20px;
}

.footer-properties .map {
  font-size: 14px;
  color: #fff;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-properties .contacts-footer {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-properties .map:hover,
.footer-properties .contacts-footer:hover,
.footer-properties .map:focus,
.footer-properties .contacts-footer:focus {
  color: var(--main-blue);
}

.footer-links .link-text {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

.footer-links .footer-networks-list {
  display: flex;
  gap: 10px;
}

.footer-links .footer-networks-list a {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
  width: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-networks-list .footer-social-network {
  fill: #fff;
}

.footer-links .footer-networks-list a:hover,
.footer-links .footer-networks-list a:focus {
  background-color: var(--main-blue);
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;

  padding: 8px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  display: flex;
  height: 30px;
  width: 30px;
  background-color: #fff;

  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: auto;

  justify-content: center;
  align-items: center;
}

.modal-cross {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-cross,
.modal-button:focus .modal-cross {
  fill: var(--main-blue);
}
/* Вкладка портфоліо */

.portfolio-main .btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  color: var(--main-black);
  background-color: #f5f4fa;

  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.first-button {
  padding-left: 25px;
  padding-right: 25px;
}

.portfolio-main .btn:hover,
.portfolio-main .btn:focus {
  color: #fff;
  background-color: var(--main-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list,
.portfolio-main .main-list {
  display: flex;
  list-style: none;
}

.portfolio-main .main-list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  top: 100%;

  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;

  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 322px;
  height: 168px;

  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-list .portfolio-link:hover .portfolio-thumb::before,
.main-list .portfolio-link:focus .portfolio-thumb::before {
  top: 0;
}

.main-list .portfolio-link:hover .thumb-text,
.main-list .portfolio-link:focus .thumb-text {
  top: 50%;
}

.main-list .portfolio-link {
  display: block;

  color: inherit;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-main .list-text {
  padding: 20px 24px;

  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.portfolio-main .main-list > * {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-main .main-list > *:nth-last-child(n + 4) {
  margin-bottom: 30px;
}

.main-list .portfolio-link:hover,
.main-list .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-main .btn-list {
  justify-content: center;

  margin-bottom: 50px;
}

.portfolio-main .btn-list > *:not(:last-child) {
  margin-right: 8px;
}

.portfolio-main .main-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.portfolio-main .text {
  font-size: 16px;
  line-height: 1.88;

  color: var(--contacts-color);
}
