:root{
    --main-blue: #2196f3;
    --main-black: #212121;
    --contacts-color: #757575
}

body{
    font-family: Roboto, sans-serif;
    font-weight: 400;

    letter-spacing: 0.03em;
    
    background-color: #ffffff;
    color: var(--main-black);
}

/* Логотип */

.logo{
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    
    color: var(--main-blue);
}

.logo-topcolor{
    color: #000000;
}

.logo-downcolor{
    color: #ffffff;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

/* Верня панель */

.navigation a,
.contacts a{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
    letter-spacing: 0.02em;
}

.navigation a{
    color: var(--main-black);
}

.contacts a{
    color: var(--contacts-color);
}

.navigation a:hover,
.contacts a:hover{
    color: var(--main-blue);
}

/* Герой */

.hero,
.hero button{
    text-align: center;
    letter-spacing:  0.06em;

    color: #ffffff;
    background-color: #2f303a;
}

.hero .text{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-transform: uppercase;
}

.hero button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    background-color: var(--main-blue);
}

/* Переваги */

.advantage .header{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;

    text-transform: uppercase;
}

.advantage .text{
    font-size: 14px;
    line-height: 1.71;
    
    color: var(--contacts-color);
}

/* Чим займаємось */

.work .header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;

    text-align: center;
}

/* Команда */

.team{
    line-height: 1.19;

    background-color: #f5f4fa;
}

.team .header-main{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.team .header-secondary{
    font-weight: 500;
    font-size: 16px;
}

.team .position{
    font-size: 16px;
    
    color: var(--contacts-color);
}

/* Футер */

footer{
    font-size: 14px;
    line-height: 1.71;

    background-color: #2f303a;
}

footer .map{
    color: #ffffff;
}

footer .footer-contacts{
    color: rgba(255, 255, 255, 0.6);
}