:root {
  --main-blue: #2196f3;
  --main-black: #212121;
  --contacts-color: #75757555;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;

  letter-spacing: 0.03em;

  background-color: #fff;
  color: var(--main-black);
}

/* Обнулюю Margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  font-size: 0;
}

/* Контейнери */

.container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container.panel {
  align-items: center;
}

.blk {
  display: inline-block;
}

.container-footer {
  font-size: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.advantage-section {
  padding-bottom: 0;
}

/* Логотип */

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--main-blue);
}

.logo.panel-logo {
  margin-right: 93px;
}

.logo-topcolor {
  color: #000;
}

.logo-downcolor {
  color: #fff;
}

/* Верхня панель */

.navigation,
.contacts {
  display: flex;
  list-style: none;
}

.contacts {
  margin-left: auto;
}

.navigation .link,
.contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;

  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation > *:not(:last-child),
.contacts > *:not(:last-child) {
  margin-right: 50px;
}

.navigation .link {
  display: block;

  color: var(--main-black);
}

.contacts .link {
  color: var(--contacts-color);
}

.navigation .link:hover,
.contacts .link:hover,
.navigation .link:focus,
.contacts .link:focus,
.navigation .link.current {
  color: var(--main-blue);
}

.panel-header {
  border-bottom: 1px solid #ececec;
}

/* Герой */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero,
.hero .hero-btn {
  text-align: center;
  letter-spacing: 0.06em;

  color: #fff;
  background-color: #2f303a;
}

.hero .text {
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero .hero-btn {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  background-color: var(--main-blue);

  cursor: pointer;

  padding: 10px 32px;
  border: none;
  border-radius: 4px;
}

.hero .hero-btn:hover {
  color: var(--main-blue);
  background-color: #fff;
}

/* Переваги */
.header-hidden {
  visibility: hidden;
}

.advantage-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.advantage-list .advantage-block {
  flex-basis: calc((100% - 90px) / 4);
}

.advantage-list .advantage-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  margin-bottom: 10px;
}

.advantage-list .text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--contacts-color);
}

/* Чим займаємось */

.work .work-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;

  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

/* Команда */

.team {
  font-size: 16px;
  line-height: 1.19;

  background-color: #f5f4fa;

  padding-bottom: 94px;
}

.team .main-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.team-list > * {
  background-color: #fff;
}

.team-list .team-header {
  text-align: center;

  font-weight: 500;
  font-size: 16px;
}

.team-list .position {
  text-align: center;

  font-size: 16px;

  color: var(--contacts-color);

  margin-top: 10px;
}

.team-list .team-card {
  padding: 30px 70px;
}

.team-list .team-card.card-even {
  padding-left: 62px;
  padding-right: 62px;
}

/* Футер */

.footer-properties {
  background-color: #2f303a;
}

.address-list {
  list-style: none;
}

.address-list .mr-footer {
  margin-bottom: 9px;
}

.footer-properties .map,
.footer-properties .contacts-footer {
  font-style: normal;
  text-decoration: none;

  line-height: 1.71;
}

.footer-properties .logo {
  margin-bottom: 20px;
}

.footer-properties .map {
  font-size: 14px;
  color: #fff;
}

.footer-properties .contacts-footer {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-properties .map:hover,
.footer-properties .contacts-footer:hover,
.footer-properties .map:focus,
.footer-properties .contacts-footer:focus {
  color: var(--main-blue);
}

/* Вкладка портфоліо */

.portfolio-main .btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  color: var(--main-black);
  background-color: #f5f4fa;

  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.btn.first-button {
  padding-left: 25px;
  padding-right: 25px;
}

.portfolio-main .btn:active,
.portfolio-main .btn:focus {
  color: #fff;
  background-color: var(--main-blue);
}

.btn-list,
.portfolio-main .main-list {
  display: flex;
  list-style: none;
}

.portfolio-main .main-list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-main .list-text {
  padding: 20px 24px;

  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.portfolio-main .main-list > * {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-main .main-list > *:nth-last-child(n + 4) {
  margin-bottom: 30px;
}

.portfolio-main .btn-list {
  justify-content: center;

  margin-bottom: 50px;
}

.portfolio-main .btn-list > *:not(:last-child) {
  margin-right: 8px;
}

.portfolio-main .main-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.portfolio-main .text {
  font-size: 16px;
  line-height: 1.88;

  color: var(--contacts-color);
}
