// -----------Герой-----------------
.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero_mobile.jpg');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero_mobile@2x.jpg');
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero_tablet.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero_tablet@2x.jpg');
    }
  }
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/project-building.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/project-building@2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1600px;
}

.hero,
.hero__btn {
  text-align: center;
  letter-spacing: 0.06em;

  color: #fff;
  background-color: #c4c4c4;
}

.hero__text {
  max-width: 360px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;

  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    min-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero__btn {
  @include btn();

  padding: 10px 32px;
  border: none;
  @media screen and (min-width: 1200px) {
    padding: 10px 24px;
  }
  &:hover,
  &:focus {
    color: $main-blue;
    background-color: #fff;
  }
}
