.page-header {
  border-bottom: 1px solid #ececec;
  height: 60px;
  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.page-header__item {
  &.is-open {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;

    background-color: #fff;

    padding: 48px 40px;
  }

  &.is-open .logo--start {
    display: none;
  }

  &:not(.is-open) .navigation,
  &:not(.is-open) .contacts,
  &:not(.is-open) .networks-list__header {
    display: none;
  }
  @media screen and (min-width: 768px) {
    align-items: center;
    position: static;
    &:not(.is-open) .navigation,
    &:not(.is-open) .contacts {
      display: flex;
    }
  }
}

.menu-btn {
  position: absolute;

  top: 10px;
  right: 15px;

  height: 40px;
  width: 40px;

  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  border: 0;
  background-color: transparent;

  .menu-btn__cross {
    display: none;
  }

  &.is-open .menu-btn__cross {
    display: inline;
  }

  &.is-open .menu-btn__burg {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-btn__cross {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $main-blue;
  }
}

.navigation,
.contacts {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 32px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 50px;
  }
}

.navigation__item {
  position: relative;
}

.navigation__link {
  display: block;

  color: $main-black;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-page {
  color: $main-blue;

  @media screen and (min-width: 768px) {
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $main-blue;
      bottom: -1px;
      left: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .contacts--right {
    margin-left: auto;
  }
}

.contacts {
  @media screen and (min-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
  }
}

.contacts__item:last-child {
  @media screen and (max-width: 767px) {
    order: -1;
    & .contacts__link {
      color: $main-blue;
      font-size: 34px;
      line-height: calc(40 / 34);
    }
  }
}

.navigation__link,
.contacts__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);

  letter-spacing: 0.02em;

  text-decoration: none;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $main-blue;
  }
}

.contacts__link {
  font-size: 24px;
  line-height: calc(28 / 24);

  color: $contacts-color;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding: 0;
    font-size: 12px;
    line-height: calc(14 / 12);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.contacts__svg {
  fill: $contacts-color;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-right: 8px;
  }
  @media screen and(min-width: 1200px) {
    margin-right: 10px;
  }

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: $main-blue;
  }
}

.contacts__letter-img {
  width: 14px;
  height: 10px;
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.contacts__phone-img {
  width: 10px;
  height: 14px;
  @media screen and (min-width: 1200px) {
    height: 16px;
  }
}

.networks-list__header {
  list-style: none;
  font-size: 18px;

  flex-wrap: wrap;

  margin-top: 64px;
  justify-content: flex-start;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.networks-list__header-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.networks-list__header-link {
  color: $main-blue;
  text-decoration: none;
  font-weight: 500;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
}
