.radio-list,
.portfolio-list {
  display: flex;
  list-style: none;
}

.radio-list {
  justify-content: center;

  margin-bottom: 50px;
}

.radio-list__item:not(:last-child) {
  margin-right: 8px;
}

.radio-list__btn:hover,
.radio-list__input:checked + .radio-list__btn {
  color: #fff;
  background-color: $main-blue;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.radio-list__btn {
  display: inline-block;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  color: $main-black;
  background-color: #f5f4fa;

  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-list__btn--first-btn {
  padding-left: 25px;
  padding-right: 25px;
}

.portfolio-list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-list__item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-list__item:nth-last-child(n + 4) {
  margin-bottom: 30px;
}

.portfolio-list__link {
  display: block;

  color: inherit;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link:hover,
.portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.image-overlay {
  position: relative;
  overflow: hidden;
}

.image-overlay__thumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 294px;
  width: 370px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link:hover .image-overlay__thumb,
.portfolio-list__link:focus .image-overlay__thumb {
  transform: translateY(0);
}

.image-overlay__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;

  position: absolute;
  top: 63px;
  left: 24px;

  width: 322px;
  height: 168px;
}

.portfolio-list__thumb {
  padding: 20px 24px;

  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.portfolio-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.portfolio-list__text {
  font-size: 16px;
  line-height: 1.88;

  color: $contacts-color;
}
