.container {
  max-width: 480px;
  @media screen and(min-width: 768px) {
    max-width: 768px;
  }
  @media screen and(min-width: 1200px) {
    max-width: 1200px;
  }
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  align-items: center;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    gap: 70px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
